.bt{color:black;background-color:white;border:solid 1px}
body{-webkit-user-select:none;-moz-user-select:none;cursor:default;margin:0}
#t1{width:100%;background-color:lightgray;position:fixed;color:gray;transition:opacity 1s,height 2s}
#t2{width:100%}
.to{position:fixed;right:15px}