.bt,.bt45,.bt3{color:black;background-color:white;border:none;text-align:center;transition:all 1s}
.bt45:hover,.bt3:hover{color:lightgray}
#sv,#UC{display:none}
body{-o-user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;cursor:default;margin:0px}
#run{
	width:100px;height:100px;background:gray;border-radius:10px;line-height:100px;text-align:center;
	transition:all 2s;-webkit-animation: core 2s;-moz-animation: core 2s;animation: core 2s;
}
@keyframes core{
	0%  {transform:rotate(0deg)   ;opacity:0   ;}
	25% {transform:rotate(360deg) ;opacity:0.25;}
	50% {transform:rotate(0deg) ;opacity:0.5; }
	100%{transform:rotate(360deg);opacity:1   ;}
}
@-webkit-keyframes core{
	0%  {transform:rotate(0deg)   ;opacity:0   ;}
	25% {transform:rotate(360deg) ;opacity:0.25;}
	50% {transform:rotate(0deg) ;opacity:0.5; }
	100%{transform:rotate(360deg);opacity:1   ;}
}